flows/FromDonationToStash.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_goods_to_updateGoods</name>
        <label>Add goods to updateGoods</label>
        <locationX>937</locationX>
        <locationY>676</locationY>
        <assignmentItems>
            <assignToReference>updateGoods</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GoodsCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GoodsCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GetDonationId</name>
        <label>GetDonationId</label>
        <locationX>935</locationX>
        <locationY>556</locationY>
        <assignmentItems>
            <assignToReference>DonationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Donation__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_goods_to_updateGoods</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IsNullDonation</name>
        <label>IsNullDonation</label>
        <locationX>576</locationX>
        <locationY>391</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DonationIsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Donation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetGoods</targetReference>
            </connector>
            <label>DonationIsNull</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>FromDonationToStash {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FromDonationToStash</label>
    <loops>
        <name>GoodsCollection</name>
        <label>GoodsCollection</label>
        <locationX>792</locationX>
        <locationY>545</locationY>
        <collectionReference>GetGoods</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetDonationId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SetGoodMovingIDToMoving</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetGoods</name>
        <label>GetGoods</label>
        <locationX>792</locationX>
        <locationY>377</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GoodsCollection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Donation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Donation__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Goods__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>SetGoodMovingIDToMoving</name>
        <label>SetGoodMovingIDToMoving</label>
        <locationX>788</locationX>
        <locationY>773</locationY>
        <inputReference>updateGoods</inputReference>
    </recordUpdates>
    <start>
        <locationX>459</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>IsNullDonation</targetReference>
        </connector>
        <object>Goods_moving__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>DonationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>GetDonation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Donation__c</objectType>
    </variables>
    <variables>
        <name>GetGoodsFromObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Goods__c</objectType>
    </variables>
    <variables>
        <name>GoodMovingID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>updateGoods</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Goods__c</objectType>
    </variables>
</Flow>
